# Rinomina questo file in secrets.yaml e compila con i tuoi valori
# NON committare mai secrets.yaml !

wifi_ssid: "LA_TUA_RETE"
wifi_password: "LA_TUA_PASSWORD"
api_encryption_key: "GENERA_CON: esphome generate-secrets"
ota_password: "SCEGLI_UNA_PASSWORD_SICURA"
ap_password: "SCEGLI_UNA_PASSWORD_FALLBACK"
